@charset "UTF-8";
/**
 * 
 * @shuaijuntao
 * @date    2016-08-23 12:00:54
 * @version 1.0
 */
 body{font-family:microsoft Yahei;font-size: 14px;color: #333;background:#faf9f6 url(../images/banner.jpg) center 74px no-repeat;}
.main-wrapper{width:1000px;margin-left: auto;margin-right: auto;}
#header{background: #1a1a1a;height: 74px;}
.topnav li{width:125px;line-height: 74px;float: left;text-align: center;}
.topnav li a{font-size: 18px;color:#fff;}
.topnav li a:hover{color:#c00;text-decoration: none;}

.ceo{background: #bc3239;margin-top: 525px;padding: 5px 40px 20px 46px;color:#eee;}
.ceo h2{font-size:22px;font-weight: bold;line-height: 52px;}
.ceo p{line-height: 24px;margin-bottom: 6px;text-indent: 2em;}

.active{margin-top: 74px;}
.w318{width:318px;}
.active-m,.active-r{margin-top: 13px;}
.news{background:url(../images/xin.png) left 17px no-repeat;padding:11px 0 7px 18px;border-top:1px solid #a0a0a0;}
.news p{color:#666;line-height: 22px;margin-bottom: 5px;}
.news-img{position: relative;}
.news-img dd{width:316px;height:30px;position: absolute;left:0;bottom: 0;}
.news-img dd .bg{width:100%;height:30px;background: #000; opacity:0.5;filter:alpha(opacity=50);}
.news-img dd p{position: absolute;left:0;bottom:0;font-family:simsun;font-weight:bold;color:#fff;line-height: 30px;padding-left: 7px; }

.red_bg{background-color: #d63d46;}
.grey_bg{background-color: #faf9f6;}

.article{width:845px;float: right;background: #fff;padding: 28px 0 0 0;}
.article h2{float: left;width:132px;}
.article .art-title{background: url(../images/article_title.png) center 0 no-repeat;height: 57px;font-size: 24px;color:#000;line-height:42px;text-align:center;padding-top: 6px;} 
.article .art-title.en{font-size: 13px;line-height: 18px;font-weight: bold;}
.article .con{font-size: 14px;color:#333;line-height: 26px;text-align: center;margin: 22px 0 55px;}
.tw-list-a{*padding-bottom: 12px;margin-left: 31px;}
.tw-list-a li{float: left;width:380px;margin:0 21px 12px 0;}
.tw-list-a li img{width:380px;height: 252px;}
.tw-list-a li p{font-size: 14px;color:#000;line-height: 40px;text-align: center;}
.tw-list-b{text-align: center;width:606px;margin: 0 auto;}
.tw-list-b li{width:606px;margin-bottom: 12px;}
.tw-list-b li img{width:606px;height:302px;}
.tw-list-b li p{font-size: 14px;color:#000;line-height:26px;text-align: center;}